---
- name: Systemd execution of non-native binaries with QEMU
  become: true
  copy:
    dest: /etc/systemd/system/qemu-user-static.service
    content: |
      [Unit]
      Description=Support for transparent execution of non-native binaries with QEMU user emulation

      [Service]
      Type=oneshot
      RemainAfterExit=yes
      # https://github.com/multiarch/qemu-user-static does not support host arch != x86_64
      # see https://github.com/multiarch/qemu-user-static/issues/174
      # In the meantime use https://dbhi.github.io/qus/
      ExecStartPre=/usr/bin/docker run --rm --interactive --privileged aptman/qus -s -- -r
      ExecStart=/usr/bin/docker run --rm --interactive --privileged aptman/qus -s -- -p

      [Install]
      WantedBy=multi-user.target
    mode: 0644
    owner: root
    group: root
  register: qemu_user_static

# Building the image relies on this having started. Force starting the service when this file changes.
- name: start qemu-user-static
  become: yes
  service:
    name: "qemu-user-static"
    state: started
    enabled: true
    daemon_reload: yes
  when: qemu_user_static.changed
