name: bpf-ci

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ci-test-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build-and-test:
    strategy:
      matrix:
        runs_on: ["ubuntu-24.04"]
        build_runs_on: ["ubuntu-24.04"]
        arch: ["x86_64"]
        kernel_compiler: ["gcc", "llvm"]
        gcc_version: [14]
        llvm_version: [20]
        kernel: ["LATEST"]
        build_release: [false]
        tests:
          - include:
            - {"test": "test_progs", "continue_on_error": false, "timeout_minutes": 360}
            - {"test": "test_progs_no_alu32", "continue_on_error": false, "timeout_minutes": 360}
            - {"test": "test_verifier", "continue_on_error": false, "timeout_minutes": 360}
            - {"test": "test_maps", "continue_on_error": false, "timeout_minutes": 360}
            - {"test": "sched_ext", "continue_on_error": false, "timeout_minutes": 360}
            # - {"test": "test_progs-bpf_gcc", "continue_on_error": false, "timeout_minutes": 360}
      fail-fast: false

    name: ${{ matrix.arch }} ${{ matrix.kernel_compiler }}-${{ matrix.kernel_compiler == 'gcc' && matrix.gcc_version || matrix.llvm_version }}
    uses: ./.github/workflows/kernel-build-test.yml
    permissions:
      id-token: write
      contents: read

    with:
      arch: ${{ matrix.arch }}
      toolchain: ${{ matrix.kernel_compiler }}
      toolchain_full: ${{ matrix.kernel_compiler }}-${{ matrix.kernel_compiler == 'gcc' && matrix.gcc_version || matrix.llvm_version }}
      runs_on: ${{ toJSON(matrix.runs_on) }}
      build_runs_on: ${{ toJSON(matrix.build_runs_on) }}
      gcc_version: ${{ matrix.gcc_version }}
      llvm_version: ${{ matrix.llvm_version }}
      kernel: ${{ matrix.kernel }}
      tests: ${{ toJSON(matrix.tests) }}
      run_tests: true
      download_sources: true
      build_release: ${{ matrix.build_release }}

